<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="p-10 w-full h-screen ">
        <a href="/" class="text-blue-600 mb-4 inline-block">< Go back to home</a>
        <div class="flex gap-4 flex-wrap">
            <% if(alluser.length > 0){%>
                <% alluser.forEach(function(user){ %>
                    <div class="card w-60 h-80 bg-blue-200 rounded-md p-2">
                        <div class="w-full h-[80%]  overflow-hidden">
                            <img src="<%= user.imageurl %>" class="w-full h-full object-cover" alt="">
                        </div>
                        <h2 class="font-semibold"><%= user.username%></h2>
                        <h2 class="text-xs"><%= user.email%></h2>
                        <a href="/delete/<%= user._id %>" class="text-red-600 text-xs font-semibold inline-block">Delete</a>
                        <a href="/edit/<%= user._id %>" class="text-zinc-600 text-xs font-semibold inline-block ml-2">Edit</a>
                    </div>
                <%  }) %>
            <%}else{%>
                <h2 class="text-xl font-semibold text-zinc-600">No user Yet!!</h2>
            <%}%>
           
        </div>
        
    </div>
</body>
</html>